.instagram-thumbnails {
  list-style:none  
}
.instagram-thumbnails li{
  float:left;
  width:200px;
  height:200px;
  margin:10px
}
.instagram-thumbnails li img{
  max-width:100%;
  max-height:100%;
}
